<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRVxjbciWopft9UaGIkiJX2rWXAo1WDvA</string>
	<key>GCM_SENDER_ID</key>
	<string>209078527561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orangejuice.easy-rpg</string>
	<key>PROJECT_ID</key>
	<string>easy-rpg-ever</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-rpg-ever.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209078527561:ios:7e64c8c837dc116f3c0198</string>
</dict>
</plist>